body.obsidian-print {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
    margin: 20px;
}

.obsidian-print .markdown-preview-sizer {
    min-height: 0 !important;
    padding: 0 !important;
}

.obsidian-print h1,
.obsidian-print .inline-title {
    font-weight: bold;
}

.obsidian-print .collapse-indicator {
    display: none;
}

.obsidian-print .metadata-container {
    display: none;
}

.obsidian-print pre button {
    display: none
}